@import "../layout/_media";
@import "_mixins";
@import "_variables";

body, html {
	height: 100%;
}
body
{
	margin: 0;
	padding: 0;
	background: white;
	font-size: 100%;
	width: 100%;
}

header{
}

main{
}

footer{
}

li {
	text-decoration: none;
	list-style: none;
}
