/* 
    File: media.scss
    Last Modified:22 April, 2016
    www.pakvistatech.com
*/ 



//================================================================================= 
//  Color variables
//================================================================================= 
$main: rgb(30,53,101);
$base: #fff;
$comp: #ca2142;
$dark: rgba(64,64,64,1);



//================================================================================= 
//  Layout variables
//================================================================================= 
$rad:20px;



//================================================================================= 
//  Theme overrided classes
//================================================================================= 
.btn{
	@include border-radius($rad);
}
.btn-primary{
    background: $main;
}