
//=================================================================================
//  Color variables
//=================================================================================
$primary: #3498DB;
$secondary: #C0392B;
$button: #2ECC71;
$text: #666;

//=================================================================================
//  Layout variables
//=================================================================================
$rad: 0px;
