@import "base/_base.scss";
@import "layout/_splash.scss";


.main {
  &__header {
    display: block;
    width: 100%;
    background-color: white;
    height: 12em;
    position: relative;
    padding: 1em;
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,.3);
  }

  &__logo {
    line-height: 7;
    padding: 1em;
    float: left;
    max-width: 25%;
    position: relative;
    left: 2%;

    .logo {
      max-width: 100%;
    }
    @media (max-width: 721px) {
      float: none;
      max-width: 100%;
      text-align: center;
    }
  }

  &__nav {
    margin: 3rem 2rem 1.5rem 0;
    float: right;
  }

  &__list {
    padding: 0;
    margin: 0;

    &__item {
      display: inline;

      a {
        padding: 0 .75em;
        font-size: 1.75em;
        color: $text;
        font-weight: 100;
      }
    }

     &__item--cta {
      margin-left: .5em;
      padding: 1em 1em 1em 0;
      transition: 200ms ease-in-out;
      margin-top: 0;

      &:hover {
        box-shadow: 2px 2px 3px 3px rgba(0,0,0,.3);
        border: none;
        > a {
          color: $text;
        }
      }
    }

  }

  &__cta {
    font-size: 1.45em;
    color: white;
    line-height: 2.25;
  }

  &__content {
    height: 450px;
  }
  &__mask {
    height: 100%;
    overflow: hidden;
    width: 100%;
  }
  &__bg {
    background-image: url("../img/main-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

    .container {
      height: 100%;
    }

    .splash__wrapper {
      max-width: 75%;
      position: relative;
      left: 0;
      right: auto;
      top: 100px;
      float: left;

      form {
        padding: .75em;
        opacity: .85;
      }

      h1 {
        font-weight: 100;
        font-size: 1.75em;
        margin-top: 0;
        margin-bottom: .25em;
      }

      .btn.donate {
        font-size: 1em;
        line-height: 1.6;
        margin: .75em 0;
      }
    }
  }

  &__blurb {
    color: white;
    font-weight: 100;
    margin-bottom: 1em;
  }

  &__list {
    display: inline-block;

    li {
      float: left;
      padding: .25em;
    }

    .btn.currency {
      background-color: transparent;
      border: 1px solid white;
      font-size: 1.75em;

      &:hover {
        background-color: white;
        color: $text;
      }

    }
  }
}

.news {
  &__title {
    font-size: 4.15em;
    text-align: left;
    width: 100%;
  }

  &__feed {
    width: 75%;
    padding: 20px 0;
    position: relative;
  }

  &__wrapper {
    padding: 20px 0;

    a {
      color: #333;
    }
  }

  &__thumb {
    width: 25%;
    float: left;
    overflow: hidden;
    height: 140px;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__data {
    width: 75%;
    float: right;
    display: initial;

    h2 {
      display: inline-block;
      margin: 0;
      padding-left: 20px;
    }

    span {
      display: block;
      padding-left: 20px;
    }
  }

  &__source {
    font-size: 2.25em;
    color: $primary;
    font-style: italic;
    padding: 10px 0;
  }

  &__date {
    font-size: 1.65em;
  }
}

@media (max-width: 736px) {
  .main {
    &__content {
      height: 50%;
    }
    &__bg {
      .splash__wrapper {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
        position: relative;
        left: 0;
        top: 0;
      }
    }
    &__mask {
      overflow: initial;
    }
  }
}

@media (max-width: 991px) {
  .news {
    &__feed {
      width: 100%;
    }
  }
}

@media (max-width: 625px) {
  .news {
    &__thumb {
      width: 100%;
      padding-bottom: 20px;
    }

    &__feed {
      padding: 0;
    }

    &__data {
      width: 100%;

      h2, span {
        padding-left: 0;
      }
    }
  }
}
