block footer
  footer.footer__content
    ul.footer__social
      li.footer__list
        a(href="#").facebook 
      li.footer__list
        a(href="#").facebook 
      li.footer__list
        a(href="#").facebook 
