block footer
  footer.footer__content
    div.container
      div.footer__info
        p.footer__contact 
          a(href="#") Contact Us
        p.footer__privacy 
          a(href="#") Privacy Policy
        p.footer__copyright ©2016 Robert for America
