block header
  header.main__header
    div.main__logo
      img.logo(src="img/logo.png")
    nav.nav-bar.main__nav
      ul.main__list
        li.main__list__item
          a(href="index.html") About RDJ
        li.main__list__item
          a(href="splash.html") Issues
        li.main__list__item
          a(href="splash.html") Contact
        li.btn.main__list__item
          a(href="#") Donate
        			
