block header
  header.main__header
    div.container
      div.main__logo
        img.logo(src="img/Logo.png")
      a.main__toggle#menu
        img(src="img/menu.svg")
      nav.nav-bar.main__nav
        ul.main__list.nav-list#nav-list
          li.main__list__item
            a(href="#") About RDJ
          li.main__list__item
            a(href="#") Issues
          li.main__list__item
            a(href="#") Contact
          li.btn.main__list__item--cta
            a.main__cta(href="#") Donate
        			
