mixin meta
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(charset="utf-8")
	meta(name="handheldfriendly", content="true")
	meta(name="mobileoptimized", content="320")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
