.splash {
  background-image: url("../img/splash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

    &__header {
      display: block;
      width: 100%;
      background-color: white;
      height: 100px;
    }

    &__logo {
      width: 100%;
      margin: 0 auto;
      padding: 20px;
      text-align: center;

      > img {
        max-width: 100%;
        margin-top: 1.25em;
      }
    }

    &__content {
      top: 50%;
      margin-top: -275px;
    }

    &__image {
      max-width: 100%;
    }
    &__wrapper {
        width: 600px;
        margin: 0 auto;
        float: right;

        @media (min-width: 768px) {
          position: absolute;
          right: 10em;
        }
    }

    &__form {
      display: flex;
      margin: 0 auto;
      padding: 1.75em;
      background-color: $primary;
      -webkit-box-pack: justify;
      -moz-box-pack: justify;
      box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      -o-justify-content: space-between;
      justify-content: space-between;
      -ms-flex-pack: justify;
      -webkit-box-lines: multiple;
      -moz-box-lines: multiple;
      box-lines: multiple;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      font-size: 2em;
      box-shadow: 0px 10px 15px -6px rgba(0,0,0,0.2);
      animation: lightSpeedIn .8s ease-in-out;

      .email {
        width: 100%;
      }

      .zip {
        width: 42%;
        -webkit-flex-basis: 42%;
        -moz-flex-basis: 42%;
        flex-basis: 42%;
        -ms-flex-preferred-size: 42%;
      }

      @media(max-width: 306px) {
        .zip, .btn {
          flex-basis: 100%;
          width: 100%;
        }
      }

    }

    &__title {
      font-size: 2.45em;
      height: auto;
      padding-right: .5em;
      text-align: left;
      width: 100%;
      border-radius: 0;
      color: white;

      @include onLG {
        font-size: 2.5em;
      }
    }

    &__blurb {
      color: white;
      font-weight: 100;
      margin: 0;
    }

    &__link {
      font-size: 3.75em;
      float: right;
      text-decoration: none;
      margin-top: .75em;

      a {
        color: white;
        font-weight: 100;

        &:hover {
          text-decoration: underline;
        }
      }
    }
}

@media (max-width: 736px) {
  .splash {
    background-image: none;
    &__content {
      top: auto;
      margin-top: auto;
      padding: 0;
    }
    &__wrapper {
      width: 100%;
    }
    &__form {
      margin: 0;
      max-width: 100%;
      animation: none;
    }
    &__title {
      padding-top: 0;
    }
    &__link {
      float: left;
      margin-left: 20px;
      font-size: 3.25em;
      margin-top: .5em;
      a {
        color: #444;
      }
    }
  }
}
