extends _partials/_splash-layout.jade

block content
  header.splash__header
    div.container.splash__logo
      img.logo(src="img/logo.png")
  main.splash__content
    div.splash__wrapper
      div.splash__image
    
